body {
    background-image: url('./img/gabriel-barletta-87533-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% top;
    background-attachment: fixed;
}

.o-btn-name {
    color: rebeccapurple;
}